ucs-nifi-extensions/nifi-ucs-nifi-extensions-processors/src/test/resources/nifi-templates/v2/ucs-v2.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2015 Cognitive Medical Systems, Inc (http://www.cognitivemedciine.com).

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<template>
   <description />
   <name>UCS v2</name>
   <snippet>
      <connections>
         <id>6d56ad39-a18d-46f0-88f9-c6b4661801ce</id>
         <parentGroupId>80bb41c7-a4dd-42b4-8084-3a20245e7439</parentGroupId>
         <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
         <backPressureObjectThreshold>0</backPressureObjectThreshold>
         <destination>
            <groupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</groupId>
            <id>dc690f7c-4c5b-4cac-9bd5-4f15e9e17706</id>
            <type>INPUT_PORT</type>
         </destination>
         <flowFileExpiration>0 sec</flowFileExpiration>
         <labelIndex>1</labelIndex>
         <name />
         <selectedRelationships>success</selectedRelationships>
         <source>
            <groupId>80bb41c7-a4dd-42b4-8084-3a20245e7439</groupId>
            <id>82323ab9-488f-4ff7-9f3b-6909baf2d871</id>
            <type>PROCESSOR</type>
         </source>
         <zIndex>0</zIndex>
      </connections>
      <connections>
         <id>11c64c30-354d-4cb6-a853-bed9d5a5f00a</id>
         <parentGroupId>80bb41c7-a4dd-42b4-8084-3a20245e7439</parentGroupId>
         <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
         <backPressureObjectThreshold>0</backPressureObjectThreshold>
         <destination>
            <groupId>80bb41c7-a4dd-42b4-8084-3a20245e7439</groupId>
            <id>bfdc5c9e-3297-4a28-9f26-2c433bfc5cb8</id>
            <type>PROCESSOR</type>
         </destination>
         <flowFileExpiration>0 sec</flowFileExpiration>
         <labelIndex>1</labelIndex>
         <name />
         <source>
            <groupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</groupId>
            <id>816baa20-6ee9-4aad-9341-988a7af495dd</id>
            <type>OUTPUT_PORT</type>
         </source>
         <zIndex>0</zIndex>
      </connections>
      <connections>
         <id>9f7cdc92-0d9e-4eb4-a60a-f96f0403f877</id>
         <parentGroupId>80bb41c7-a4dd-42b4-8084-3a20245e7439</parentGroupId>
         <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
         <backPressureObjectThreshold>0</backPressureObjectThreshold>
         <destination>
            <groupId>80bb41c7-a4dd-42b4-8084-3a20245e7439</groupId>
            <id>82323ab9-488f-4ff7-9f3b-6909baf2d871</id>
            <type>PROCESSOR</type>
         </destination>
         <flowFileExpiration>0 sec</flowFileExpiration>
         <labelIndex>1</labelIndex>
         <name />
         <selectedRelationships>success</selectedRelationships>
         <source>
            <groupId>80bb41c7-a4dd-42b4-8084-3a20245e7439</groupId>
            <id>d58ba8fa-db43-4f24-bb6d-76781834c30e</id>
            <type>PROCESSOR</type>
         </source>
         <zIndex>0</zIndex>
      </connections>
      <connections>
         <id>cdd0d76c-7d71-44ed-9df2-cf36a09b936c</id>
         <parentGroupId>80bb41c7-a4dd-42b4-8084-3a20245e7439</parentGroupId>
         <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
         <backPressureObjectThreshold>0</backPressureObjectThreshold>
         <destination>
            <groupId>80bb41c7-a4dd-42b4-8084-3a20245e7439</groupId>
            <id>57f3f3f8-f514-4664-8f7c-702a6da07da9</id>
            <type>PROCESSOR</type>
         </destination>
         <flowFileExpiration>0 sec</flowFileExpiration>
         <labelIndex>1</labelIndex>
         <name />
         <selectedRelationships>failure</selectedRelationships>
         <source>
            <groupId>80bb41c7-a4dd-42b4-8084-3a20245e7439</groupId>
            <id>82323ab9-488f-4ff7-9f3b-6909baf2d871</id>
            <type>PROCESSOR</type>
         </source>
         <zIndex>0</zIndex>
      </connections>
      <connections>
         <id>c6f5e9fe-3e03-45a7-9f87-6c6db6322943</id>
         <parentGroupId>80bb41c7-a4dd-42b4-8084-3a20245e7439</parentGroupId>
         <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
         <backPressureObjectThreshold>0</backPressureObjectThreshold>
         <destination>
            <groupId>80bb41c7-a4dd-42b4-8084-3a20245e7439</groupId>
            <id>036de62b-8904-3bd9-865f-11043e9e36e9</id>
            <type>PROCESSOR</type>
         </destination>
         <flowFileExpiration>0 sec</flowFileExpiration>
         <labelIndex>1</labelIndex>
         <name />
         <selectedRelationships>success</selectedRelationships>
         <source>
            <groupId>80bb41c7-a4dd-42b4-8084-3a20245e7439</groupId>
            <id>7a762980-8e41-4994-b7ff-76c68fff42c1</id>
            <type>PROCESSOR</type>
         </source>
         <zIndex>0</zIndex>
      </connections>
      <processGroups>
         <id>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</id>
         <parentGroupId>80bb41c7-a4dd-42b4-8084-3a20245e7439</parentGroupId>
         <position>
            <x>-233.0</x>
            <y>374.0</y>
         </position>
         <activeRemotePortCount>0</activeRemotePortCount>
         <comments />
         <contents>
            <connections>
               <id>d4e34100-9bce-4d2c-8cd2-ef33a20f6513</id>
               <parentGroupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</parentGroupId>
               <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
               <backPressureObjectThreshold>0</backPressureObjectThreshold>
               <destination>
                  <groupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</groupId>
                  <id>a4788268-69c3-45b5-a487-b26cbf6d6644</id>
                  <type>PROCESSOR</type>
               </destination>
               <flowFileExpiration>0 sec</flowFileExpiration>
               <labelIndex>1</labelIndex>
               <name />
               <selectedRelationships>unmatched</selectedRelationships>
               <source>
                  <groupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</groupId>
                  <id>5a00fa67-4545-483e-9e64-bb5c9d9a75c7</id>
                  <type>PROCESSOR</type>
               </source>
               <zIndex>0</zIndex>
            </connections>
            <connections>
               <id>970cfa30-2666-421d-8d54-dacc28019060</id>
               <parentGroupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</parentGroupId>
               <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
               <backPressureObjectThreshold>0</backPressureObjectThreshold>
               <destination>
                  <groupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</groupId>
                  <id>a4788268-69c3-45b5-a487-b26cbf6d6644</id>
                  <type>PROCESSOR</type>
               </destination>
               <flowFileExpiration>0 sec</flowFileExpiration>
               <labelIndex>1</labelIndex>
               <name />
               <selectedRelationships>failure</selectedRelationships>
               <selectedRelationships>unmatched</selectedRelationships>
               <source>
                  <groupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</groupId>
                  <id>56b97bcd-49d7-4180-9dea-77ccff037463</id>
                  <type>PROCESSOR</type>
               </source>
               <zIndex>0</zIndex>
            </connections>
            <connections>
               <id>56f3a323-3c8b-4829-affb-060815c5aef1</id>
               <parentGroupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</parentGroupId>
               <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
               <backPressureObjectThreshold>0</backPressureObjectThreshold>
               <destination>
                  <groupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</groupId>
                  <id>5a00fa67-4545-483e-9e64-bb5c9d9a75c7</id>
                  <type>PROCESSOR</type>
               </destination>
               <flowFileExpiration>0 sec</flowFileExpiration>
               <labelIndex>1</labelIndex>
               <name />
               <selectedRelationships>matched</selectedRelationships>
               <source>
                  <groupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</groupId>
                  <id>56b97bcd-49d7-4180-9dea-77ccff037463</id>
                  <type>PROCESSOR</type>
               </source>
               <zIndex>0</zIndex>
            </connections>
            <connections>
               <id>a77d11b4-650e-4d43-92a5-5bb5cc3ebfe5</id>
               <parentGroupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</parentGroupId>
               <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
               <backPressureObjectThreshold>0</backPressureObjectThreshold>
               <destination>
                  <groupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</groupId>
                  <id>56b97bcd-49d7-4180-9dea-77ccff037463</id>
                  <type>PROCESSOR</type>
               </destination>
               <flowFileExpiration>0 sec</flowFileExpiration>
               <labelIndex>1</labelIndex>
               <name />
               <selectedRelationships>success</selectedRelationships>
               <source>
                  <groupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</groupId>
                  <id>5ebddadf-1b96-4fdf-8807-baf7631e250a</id>
                  <type>PROCESSOR</type>
               </source>
               <zIndex>0</zIndex>
            </connections>
            <connections>
               <id>9de0ac29-ebd2-4398-93a2-d1545aeae3a7</id>
               <parentGroupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</parentGroupId>
               <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
               <backPressureObjectThreshold>0</backPressureObjectThreshold>
               <destination>
                  <groupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</groupId>
                  <id>ffa3121f-220b-47c8-b35d-b0b201ffccbc</id>
                  <type>PROCESSOR</type>
               </destination>
               <flowFileExpiration>0 sec</flowFileExpiration>
               <labelIndex>1</labelIndex>
               <name />
               <selectedRelationships>success</selectedRelationships>
               <source>
                  <groupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</groupId>
                  <id>788db942-428f-4671-b187-eedc4aac9b3e</id>
                  <type>PROCESSOR</type>
               </source>
               <zIndex>0</zIndex>
            </connections>
            <connections>
               <id>5295918d-c26a-40a2-b165-87ecd7485e6c</id>
               <parentGroupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</parentGroupId>
               <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
               <backPressureObjectThreshold>0</backPressureObjectThreshold>
               <destination>
                  <groupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</groupId>
                  <id>788db942-428f-4671-b187-eedc4aac9b3e</id>
                  <type>PROCESSOR</type>
               </destination>
               <flowFileExpiration>0 sec</flowFileExpiration>
               <labelIndex>1</labelIndex>
               <name />
               <selectedRelationships>getMessages</selectedRelationships>
               <source>
                  <groupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</groupId>
                  <id>5a00fa67-4545-483e-9e64-bb5c9d9a75c7</id>
                  <type>PROCESSOR</type>
               </source>
               <zIndex>0</zIndex>
            </connections>
            <connections>
               <id>475ddd39-4561-4816-9ed5-51c402822e9d</id>
               <parentGroupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</parentGroupId>
               <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
               <backPressureObjectThreshold>0</backPressureObjectThreshold>
               <destination>
                  <groupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</groupId>
                  <id>a888624b-8634-3f73-9630-6850d64c2cfa</id>
                  <type>PROCESSOR</type>
               </destination>
               <flowFileExpiration>0 sec</flowFileExpiration>
               <labelIndex>1</labelIndex>
               <name />
               <selectedRelationships>failure</selectedRelationships>
               <selectedRelationships>success</selectedRelationships>
               <source>
                  <groupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</groupId>
                  <id>ffa3121f-220b-47c8-b35d-b0b201ffccbc</id>
                  <type>PROCESSOR</type>
               </source>
               <zIndex>0</zIndex>
            </connections>
            <processors>
               <id>a4788268-69c3-45b5-a487-b26cbf6d6644</id>
               <parentGroupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</parentGroupId>
               <position>
                  <x>1158.0</x>
                  <y>290.0</y>
               </position>
               <config>
                  <bulletinLevel>DEBUG</bulletinLevel>
                  <comments />
                  <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                  <defaultConcurrentTasks>
                     <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>1</value>
                     </entry>
                     <entry>
                        <key>EVENT_DRIVEN</key>
                        <value>0</value>
                     </entry>
                     <entry>
                        <key>CRON_DRIVEN</key>
                        <value>1</value>
                     </entry>
                  </defaultConcurrentTasks>
                  <defaultSchedulingPeriod>
                     <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>0 sec</value>
                     </entry>
                     <entry>
                        <key>CRON_DRIVEN</key>
                        <value>* * * * * ?</value>
                     </entry>
                  </defaultSchedulingPeriod>
                  <lossTolerant>false</lossTolerant>
                  <penaltyDuration>30 sec</penaltyDuration>
                  <properties>
                     <entry>
                        <key>Log Level</key>
                        <value>info</value>
                     </entry>
                     <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                     </entry>
                     <entry>
                        <key>Attributes to Log</key>
                     </entry>
                     <entry>
                        <key>Attributes to Ignore</key>
                     </entry>
                  </properties>
                  <runDurationMillis>0</runDurationMillis>
                  <schedulingPeriod>0 sec</schedulingPeriod>
                  <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                  <yieldDuration>1 sec</yieldDuration>
               </config>
               <name>LogAttribute</name>
               <relationships>
                  <autoTerminate>true</autoTerminate>
                  <description>All FlowFiles are routed to this relationship</description>
                  <name>success</name>
               </relationships>
               <state>RUNNING</state>
               <style />
               <supportsEventDriven>true</supportsEventDriven>
               <supportsParallelProcessing>true</supportsParallelProcessing>
               <type>org.apache.nifi.processors.standard.LogAttribute</type>
            </processors>
            <processors>
               <id>788db942-428f-4671-b187-eedc4aac9b3e</id>
               <parentGroupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</parentGroupId>
               <position>
                  <x>641.0</x>
                  <y>604.0</y>
               </position>
               <config>
                  <bulletinLevel>WARN</bulletinLevel>
                  <comments />
                  <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                  <defaultConcurrentTasks>
                     <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>1</value>
                     </entry>
                     <entry>
                        <key>EVENT_DRIVEN</key>
                        <value>0</value>
                     </entry>
                     <entry>
                        <key>CRON_DRIVEN</key>
                        <value>1</value>
                     </entry>
                  </defaultConcurrentTasks>
                  <defaultSchedulingPeriod>
                     <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>0 sec</value>
                     </entry>
                     <entry>
                        <key>CRON_DRIVEN</key>
                        <value>* * * * * ?</value>
                     </entry>
                  </defaultSchedulingPeriod>
                  <lossTolerant>false</lossTolerant>
                  <penaltyDuration>30 sec</penaltyDuration>
                  <properties>
                     <entry>
                        <key>UCS Controller Service</key>
                        <value>ucs-controller</value>
                     </entry>
                     <entry>
                        <key>Keep Attributes</key>
                        <value>true</value>
                     </entry>
                     <entry>
                        <key>Group Messages</key>
                        <value>true</value>
                     </entry>
                  </properties>
                  <runDurationMillis>0</runDurationMillis>
                  <schedulingPeriod>0 sec</schedulingPeriod>
                  <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                  <yieldDuration>1 sec</yieldDuration>
               </config>
               <name>UCSGetMessages</name>
               <relationships>
                  <autoTerminate>false</autoTerminate>
                  <description>Each message found in UCS Controller will start a new FileFlow through this relationship.</description>
                  <name>success</name>
               </relationships>
               <state>RUNNING</state>
               <style />
               <supportsEventDriven>true</supportsEventDriven>
               <supportsParallelProcessing>true</supportsParallelProcessing>
               <type>org.socraticgrid.hl7.ucs.nifi.processor.UCSGetMessages</type>
            </processors>
            <processors>
               <id>5ebddadf-1b96-4fdf-8807-baf7631e250a</id>
               <parentGroupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</parentGroupId>
               <position>
                  <x>29.0</x>
                  <y>173.0</y>
               </position>
               <config>
                  <bulletinLevel>WARN</bulletinLevel>
                  <comments />
                  <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                  <defaultConcurrentTasks>
                     <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>1</value>
                     </entry>
                     <entry>
                        <key>EVENT_DRIVEN</key>
                        <value>0</value>
                     </entry>
                     <entry>
                        <key>CRON_DRIVEN</key>
                        <value>1</value>
                     </entry>
                  </defaultConcurrentTasks>
                  <defaultSchedulingPeriod>
                     <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>0 sec</value>
                     </entry>
                     <entry>
                        <key>CRON_DRIVEN</key>
                        <value>* * * * * ?</value>
                     </entry>
                  </defaultSchedulingPeriod>
                  <lossTolerant>false</lossTolerant>
                  <penaltyDuration>30 sec</penaltyDuration>
                  <properties>
                     <entry>
                        <key>Listening Port</key>
                        <value>8889</value>
                     </entry>
                     <entry>
                        <key>Max Data to Receive per Second</key>
                     </entry>
                     <entry>
                        <key>SSL Context Service</key>
                     </entry>
                     <entry>
                        <key>Authorized DN Pattern</key>
                        <value>.*</value>
                     </entry>
                     <entry>
                        <key>Max Unconfirmed Flowfile Time</key>
                        <value>60 secs</value>
                     </entry>
                     <entry>
                        <key>HTTP Headers to receive as Attributes (Regex)</key>
                     </entry>
                  </properties>
                  <runDurationMillis>0</runDurationMillis>
                  <schedulingPeriod>0 sec</schedulingPeriod>
                  <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                  <yieldDuration>1 sec</yieldDuration>
               </config>
               <name>ListenHTTP</name>
               <relationships>
                  <autoTerminate>false</autoTerminate>
                  <description>Relationship for successfully received FlowFiles</description>
                  <name>success</name>
               </relationships>
               <state>RUNNING</state>
               <style />
               <supportsEventDriven>false</supportsEventDriven>
               <supportsParallelProcessing>true</supportsParallelProcessing>
               <type>org.apache.nifi.processors.standard.ListenHTTP</type>
            </processors>
            <processors>
               <id>5a00fa67-4545-483e-9e64-bb5c9d9a75c7</id>
               <parentGroupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</parentGroupId>
               <position>
                  <x>629.0</x>
                  <y>355.0</y>
               </position>
               <config>
                  <bulletinLevel>DEBUG</bulletinLevel>
                  <comments />
                  <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                  <defaultConcurrentTasks>
                     <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>1</value>
                     </entry>
                     <entry>
                        <key>EVENT_DRIVEN</key>
                        <value>0</value>
                     </entry>
                     <entry>
                        <key>CRON_DRIVEN</key>
                        <value>1</value>
                     </entry>
                  </defaultConcurrentTasks>
                  <defaultSchedulingPeriod>
                     <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>0 sec</value>
                     </entry>
                     <entry>
                        <key>CRON_DRIVEN</key>
                        <value>* * * * * ?</value>
                     </entry>
                  </defaultSchedulingPeriod>
                  <lossTolerant>false</lossTolerant>
                  <penaltyDuration>30 sec</penaltyDuration>
                  <properties>
                     <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                     </entry>
                     <entry>
                        <key>getMessages</key>
                        <value>${command.name:toUpper():equals("GETMESSAGES")}</value>
                     </entry>
                  </properties>
                  <runDurationMillis>0</runDurationMillis>
                  <schedulingPeriod>0 sec</schedulingPeriod>
                  <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                  <yieldDuration>1 sec</yieldDuration>
               </config>
               <name>RouteOnAttribute</name>
               <relationships>
                  <autoTerminate>false</autoTerminate>
                  <description />
                  <name>getMessages</name>
               </relationships>
               <relationships>
                  <autoTerminate>false</autoTerminate>
                  <description>FlowFiles that do not match any user-define expression will be routed here</description>
                  <name>unmatched</name>
               </relationships>
               <state>RUNNING</state>
               <style />
               <supportsEventDriven>true</supportsEventDriven>
               <supportsParallelProcessing>true</supportsParallelProcessing>
               <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
            </processors>
            <processors>
               <id>a888624b-8634-3f73-9630-6850d64c2cfa</id>
               <parentGroupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</parentGroupId>
               <position>
                  <x>28.0</x>
                  <y>407.0</y>
               </position>
               <config>
                  <bulletinLevel>DEBUG</bulletinLevel>
                  <comments />
                  <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                  <defaultConcurrentTasks>
                     <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>1</value>
                     </entry>
                     <entry>
                        <key>EVENT_DRIVEN</key>
                        <value>0</value>
                     </entry>
                     <entry>
                        <key>CRON_DRIVEN</key>
                        <value>1</value>
                     </entry>
                  </defaultConcurrentTasks>
                  <defaultSchedulingPeriod>
                     <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>0 sec</value>
                     </entry>
                     <entry>
                        <key>CRON_DRIVEN</key>
                        <value>* * * * * ?</value>
                     </entry>
                  </defaultSchedulingPeriod>
                  <lossTolerant>false</lossTolerant>
                  <penaltyDuration>30 sec</penaltyDuration>
                  <properties>
                     <entry>
                        <key>Log Level</key>
                        <value>info</value>
                     </entry>
                     <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                     </entry>
                     <entry>
                        <key>Attributes to Log</key>
                     </entry>
                     <entry>
                        <key>Attributes to Ignore</key>
                     </entry>
                  </properties>
                  <runDurationMillis>0</runDurationMillis>
                  <schedulingPeriod>0 sec</schedulingPeriod>
                  <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                  <yieldDuration>1 sec</yieldDuration>
               </config>
               <name>LogAttribute</name>
               <relationships>
                  <autoTerminate>true</autoTerminate>
                  <description>All FlowFiles are routed to this relationship</description>
                  <name>success</name>
               </relationships>
               <state>RUNNING</state>
               <style />
               <supportsEventDriven>true</supportsEventDriven>
               <supportsParallelProcessing>true</supportsParallelProcessing>
               <type>org.apache.nifi.processors.standard.LogAttribute</type>
            </processors>
            <processors>
               <id>56b97bcd-49d7-4180-9dea-77ccff037463</id>
               <parentGroupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</parentGroupId>
               <position>
                  <x>630.0</x>
                  <y>173.0</y>
               </position>
               <config>
                  <bulletinLevel>WARN</bulletinLevel>
                  <comments />
                  <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                  <defaultConcurrentTasks>
                     <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>1</value>
                     </entry>
                     <entry>
                        <key>EVENT_DRIVEN</key>
                        <value>0</value>
                     </entry>
                     <entry>
                        <key>CRON_DRIVEN</key>
                        <value>1</value>
                     </entry>
                  </defaultConcurrentTasks>
                  <defaultSchedulingPeriod>
                     <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>0 sec</value>
                     </entry>
                     <entry>
                        <key>CRON_DRIVEN</key>
                        <value>* * * * * ?</value>
                     </entry>
                  </defaultSchedulingPeriod>
                  <lossTolerant>false</lossTolerant>
                  <penaltyDuration>30 sec</penaltyDuration>
                  <properties>
                     <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                     </entry>
                     <entry>
                        <key>Return Type</key>
                        <value>auto-detect</value>
                     </entry>
                     <entry>
                        <key>command.name</key>
                        <value>/command/name/text()</value>
                     </entry>
                     <entry>
                        <key>response.context</key>
                        <value>/command/response/context/text()</value>
                     </entry>
                     <entry>
                        <key>response.host</key>
                        <value>/command/response/host/text()</value>
                     </entry>
                     <entry>
                        <key>response.port</key>
                        <value>/command/response/port/text()</value>
                     </entry>
                  </properties>
                  <runDurationMillis>0</runDurationMillis>
                  <schedulingPeriod>0 sec</schedulingPeriod>
                  <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                  <yieldDuration>1 sec</yieldDuration>
               </config>
               <name>EvaluateXPath</name>
               <relationships>
                  <autoTerminate>false</autoTerminate>
                  <description>FlowFiles are routed to this relationship when the XPath cannot be evaluated against the content of the FlowFile; for instance, if the FlowFile is not valid XML, or if the Return Type is 'nodeset' and the XPath evaluates to multiple nodes</description>
                  <name>failure</name>
               </relationships>
               <relationships>
                  <autoTerminate>false</autoTerminate>
                  <description>FlowFiles are routed to this relationship when the XPath is successfully evaluated and the FlowFile is modified as a result</description>
                  <name>matched</name>
               </relationships>
               <relationships>
                  <autoTerminate>false</autoTerminate>
                  <description>FlowFiles are routed to this relationship when the XPath does not match the content of the FlowFile and the Destination is set to flowfile-content</description>
                  <name>unmatched</name>
               </relationships>
               <state>RUNNING</state>
               <style />
               <supportsEventDriven>true</supportsEventDriven>
               <supportsParallelProcessing>true</supportsParallelProcessing>
               <type>org.apache.nifi.processors.standard.EvaluateXPath</type>
            </processors>
            <processors>
               <id>ffa3121f-220b-47c8-b35d-b0b201ffccbc</id>
               <parentGroupId>49b7c5d6-c40b-4273-b6de-1a270c48f0f7</parentGroupId>
               <position>
                  <x>38.0</x>
                  <y>576.0</y>
               </position>
               <config>
                  <bulletinLevel>WARN</bulletinLevel>
                  <comments />
                  <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                  <defaultConcurrentTasks>
                     <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>1</value>
                     </entry>
                     <entry>
                        <key>EVENT_DRIVEN</key>
                        <value>0</value>
                     </entry>
                     <entry>
                        <key>CRON_DRIVEN</key>
                        <value>1</value>
                     </entry>
                  </defaultConcurrentTasks>
                  <defaultSchedulingPeriod>
                     <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>0 sec</value>
                     </entry>
                     <entry>
                        <key>CRON_DRIVEN</key>
                        <value>* * * * * ?</value>
                     </entry>
                  </defaultSchedulingPeriod>
                  <lossTolerant>false</lossTolerant>
                  <penaltyDuration>30 sec</penaltyDuration>
                  <properties>
                     <entry>
                        <key>URL</key>
                        <value>http://${response.host}:${response.port}/${response.context}</value>
                     </entry>
                     <entry>
                        <key>Max Batch Size</key>
                        <value>100 MB</value>
                     </entry>
                     <entry>
                        <key>Max Data to Post per Second</key>
                     </entry>
                     <entry>
                        <key>SSL Context Service</key>
                     </entry>
                     <entry>
                        <key>Username</key>
                     </entry>
                     <entry>
                        <key>Password</key>
                     </entry>
                     <entry>
                        <key>Send as FlowFile</key>
                        <value>false</value>
                     </entry>
                     <entry>
                        <key>Use Chunked Encoding</key>
                        <value>true</value>
                     </entry>
                     <entry>
                        <key>Compression Level</key>
                        <value>0</value>
                     </entry>
                     <entry>
                        <key>Connection Timeout</key>
                        <value>30 sec</value>
                     </entry>
                     <entry>
                        <key>Data Timeout</key>
                        <value>30 sec</value>
                     </entry>
                     <entry>
                        <key>Attributes to Send as HTTP Headers (Regex)</key>
                     </entry>
                     <entry>
                        <key>User Agent</key>
                     </entry>
                  </properties>
                  <runDurationMillis>0</runDurationMillis>
                  <schedulingPeriod>0 sec</schedulingPeriod>
                  <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                  <yieldDuration>1 sec</yieldDuration>
               </config>
               <name>PostHTTP</name>
               <relationships>
                  <autoTerminate>false</autoTerminate>
                  <description>Files that fail to send will transferred to failure</description>
                  <name>failure</name>
               </relationships>
               <relationships>
                  <autoTerminate>false</autoTerminate>
                  <description>Files that are successfully send will be transferred to success</description>
                  <name>success</name>
               </relationships>
               <state>RUNNING</state>
               <style />
               <supportsEventDriven>false</supportsEventDriven>
               <supportsParallelProcessing>true</supportsParallelProcessing>
               <type>org.apache.nifi.processors.standard.PostHTTP</type>
            </processors>
         </contents>
         <disabledCount>0</disabledCount>
         <inactiveRemotePortCount>0</inactiveRemotePortCount>
         <inputPortCount>0</inputPortCount>
         <invalidCount>0</invalidCount>
         <name>Commands</name>
         <outputPortCount>0</outputPortCount>
         <parent>
            <id>80bb41c7-a4dd-42b4-8084-3a20245e7439</id>
            <name>NiFi Flow</name>
         </parent>
         <runningCount>7</runningCount>
         <stoppedCount>0</stoppedCount>
      </processGroups>
      <processGroups>
         <id>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</id>
         <parentGroupId>80bb41c7-a4dd-42b4-8084-3a20245e7439</parentGroupId>
         <position>
            <x>1363.0</x>
            <y>-124.0</y>
         </position>
         <activeRemotePortCount>0</activeRemotePortCount>
         <comments />
         <contents>
            <connections>
               <id>0ecd245e-9ac5-4e6a-8edf-69fc357c4b42</id>
               <parentGroupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</parentGroupId>
               <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
               <backPressureObjectThreshold>0</backPressureObjectThreshold>
               <destination>
                  <groupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</groupId>
                  <id>778ff22e-843b-3bd4-9c6f-ddaedf48ab8f</id>
                  <type>PROCESSOR</type>
               </destination>
               <flowFileExpiration>0 sec</flowFileExpiration>
               <labelIndex>1</labelIndex>
               <name />
               <selectedRelationships>failure</selectedRelationships>
               <selectedRelationships>original</selectedRelationships>
               <selectedRelationships>unmatched</selectedRelationships>
               <source>
                  <groupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</groupId>
                  <id>c7466c95-c8ee-3112-ae42-b5174fe38071</id>
                  <type>PROCESSOR</type>
               </source>
               <zIndex>0</zIndex>
            </connections>
            <connections>
               <id>c3ef864d-d87f-4ea0-9a80-a19a20688889</id>
               <parentGroupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</parentGroupId>
               <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
               <backPressureObjectThreshold>0</backPressureObjectThreshold>
               <destination>
                  <groupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</groupId>
                  <id>f84bd160-41f2-3a64-abec-82c3528235f7</id>
                  <type>PROCESSOR</type>
               </destination>
               <flowFileExpiration>0 sec</flowFileExpiration>
               <labelIndex>1</labelIndex>
               <name />
               <selectedRelationships>SMS</selectedRelationships>
               <source>
                  <groupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</groupId>
                  <id>c7466c95-c8ee-3112-ae42-b5174fe38071</id>
                  <type>PROCESSOR</type>
               </source>
               <zIndex>0</zIndex>
            </connections>
            <connections>
               <id>650825e7-5bb7-437b-a17b-3b5522e1d85d</id>
               <parentGroupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</parentGroupId>
               <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
               <backPressureObjectThreshold>0</backPressureObjectThreshold>
               <destination>
                  <groupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</groupId>
                  <id>8c0ef253-64fa-3ad4-b2c7-4e0693c27947</id>
                  <type>PROCESSOR</type>
               </destination>
               <flowFileExpiration>0 sec</flowFileExpiration>
               <labelIndex>1</labelIndex>
               <name />
               <selectedRelationships>EMAIL</selectedRelationships>
               <source>
                  <groupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</groupId>
                  <id>c7466c95-c8ee-3112-ae42-b5174fe38071</id>
                  <type>PROCESSOR</type>
               </source>
               <zIndex>0</zIndex>
            </connections>
            <connections>
               <id>df000e73-9e15-4c31-a670-71bec8bf66c0</id>
               <parentGroupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</parentGroupId>
               <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
               <backPressureObjectThreshold>0</backPressureObjectThreshold>
               <destination>
                  <groupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</groupId>
                  <id>a35c5b2a-8a55-45eb-925c-baf057c60190</id>
                  <type>FUNNEL</type>
               </destination>
               <flowFileExpiration>0 sec</flowFileExpiration>
               <labelIndex>1</labelIndex>
               <name />
               <selectedRelationships>success</selectedRelationships>
               <source>
                  <groupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</groupId>
                  <id>f84bd160-41f2-3a64-abec-82c3528235f7</id>
                  <type>PROCESSOR</type>
               </source>
               <zIndex>0</zIndex>
            </connections>
            <connections>
               <id>c5ece5d7-b590-4256-9bad-2119b47cfc79</id>
               <parentGroupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</parentGroupId>
               <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
               <backPressureObjectThreshold>0</backPressureObjectThreshold>
               <destination>
                  <groupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</groupId>
                  <id>c7466c95-c8ee-3112-ae42-b5174fe38071</id>
                  <type>PROCESSOR</type>
               </destination>
               <flowFileExpiration>0 sec</flowFileExpiration>
               <labelIndex>1</labelIndex>
               <name />
               <source>
                  <groupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</groupId>
                  <id>dc690f7c-4c5b-4cac-9bd5-4f15e9e17706</id>
                  <type>INPUT_PORT</type>
               </source>
               <zIndex>0</zIndex>
            </connections>
            <connections>
               <id>b7cbed4a-8d78-478e-acbe-f8ba2eb17c76</id>
               <parentGroupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</parentGroupId>
               <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
               <backPressureObjectThreshold>0</backPressureObjectThreshold>
               <destination>
                  <groupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</groupId>
                  <id>816baa20-6ee9-4aad-9341-988a7af495dd</id>
                  <type>OUTPUT_PORT</type>
               </destination>
               <flowFileExpiration>0 sec</flowFileExpiration>
               <labelIndex>1</labelIndex>
               <name />
               <source>
                  <groupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</groupId>
                  <id>a35c5b2a-8a55-45eb-925c-baf057c60190</id>
                  <type>FUNNEL</type>
               </source>
               <zIndex>0</zIndex>
            </connections>
            <connections>
               <id>99329392-25e8-424a-aff0-07fc0735def3</id>
               <parentGroupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</parentGroupId>
               <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
               <backPressureObjectThreshold>0</backPressureObjectThreshold>
               <destination>
                  <groupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</groupId>
                  <id>a35c5b2a-8a55-45eb-925c-baf057c60190</id>
                  <type>FUNNEL</type>
               </destination>
               <flowFileExpiration>0 sec</flowFileExpiration>
               <labelIndex>1</labelIndex>
               <name />
               <selectedRelationships>success</selectedRelationships>
               <source>
                  <groupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</groupId>
                  <id>8c0ef253-64fa-3ad4-b2c7-4e0693c27947</id>
                  <type>PROCESSOR</type>
               </source>
               <zIndex>0</zIndex>
            </connections>
            <funnels>
               <id>a35c5b2a-8a55-45eb-925c-baf057c60190</id>
               <parentGroupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</parentGroupId>
               <position>
                  <x>459.36344386829785</x>
                  <y>752.3989573795403</y>
               </position>
            </funnels>
            <inputPorts>
               <id>dc690f7c-4c5b-4cac-9bd5-4f15e9e17706</id>
               <parentGroupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</parentGroupId>
               <position>
                  <x>-280.0</x>
                  <y>344.0</y>
               </position>
               <comments />
               <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
               <name>deliver</name>
               <state>RUNNING</state>
               <type>INPUT_PORT</type>
            </inputPorts>
            <outputPorts>
               <id>816baa20-6ee9-4aad-9341-988a7af495dd</id>
               <parentGroupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</parentGroupId>
               <position>
                  <x>-292.9284096646705</x>
                  <y>759.9326059243818</y>
               </position>
               <comments />
               <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
               <name>response</name>
               <state>RUNNING</state>
               <type>OUTPUT_PORT</type>
            </outputPorts>
            <processors>
               <id>8ba3191f-619d-3fa1-bb50-52e21a7fef0d</id>
               <parentGroupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</parentGroupId>
               <position>
                  <x>719.0</x>
                  <y>-72.0</y>
               </position>
               <config>
                  <bulletinLevel>DEBUG</bulletinLevel>
                  <comments />
                  <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                  <defaultConcurrentTasks>
                     <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>1</value>
                     </entry>
                     <entry>
                        <key>EVENT_DRIVEN</key>
                        <value>0</value>
                     </entry>
                     <entry>
                        <key>CRON_DRIVEN</key>
                        <value>1</value>
                     </entry>
                  </defaultConcurrentTasks>
                  <defaultSchedulingPeriod>
                     <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>0 sec</value>
                     </entry>
                     <entry>
                        <key>CRON_DRIVEN</key>
                        <value>* * * * * ?</value>
                     </entry>
                  </defaultSchedulingPeriod>
                  <lossTolerant>false</lossTolerant>
                  <penaltyDuration>30 sec</penaltyDuration>
                  <properties>
                     <entry>
                        <key>Log Level</key>
                        <value>info</value>
                     </entry>
                     <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                     </entry>
                     <entry>
                        <key>Attributes to Log</key>
                     </entry>
                     <entry>
                        <key>Attributes to Ignore</key>
                     </entry>
                  </properties>
                  <runDurationMillis>0</runDurationMillis>
                  <schedulingPeriod>0 sec</schedulingPeriod>
                  <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                  <yieldDuration>1 sec</yieldDuration>
               </config>
               <name>LogAttribute</name>
               <relationships>
                  <autoTerminate>true</autoTerminate>
                  <description>All FlowFiles are routed to this relationship</description>
                  <name>success</name>
               </relationships>
               <state>RUNNING</state>
               <style />
               <supportsEventDriven>true</supportsEventDriven>
               <supportsParallelProcessing>true</supportsParallelProcessing>
               <type>org.apache.nifi.processors.standard.LogAttribute</type>
            </processors>
            <processors>
               <id>8c0ef253-64fa-3ad4-b2c7-4e0693c27947</id>
               <parentGroupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</parentGroupId>
               <position>
                  <x>207.0</x>
                  <y>521.0</y>
               </position>
               <config>
                  <bulletinLevel>DEBUG</bulletinLevel>
                  <comments />
                  <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                  <defaultConcurrentTasks>
                     <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>1</value>
                     </entry>
                     <entry>
                        <key>EVENT_DRIVEN</key>
                        <value>0</value>
                     </entry>
                     <entry>
                        <key>CRON_DRIVEN</key>
                        <value>1</value>
                     </entry>
                  </defaultConcurrentTasks>
                  <defaultSchedulingPeriod>
                     <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>0 sec</value>
                     </entry>
                     <entry>
                        <key>CRON_DRIVEN</key>
                        <value>* * * * * ?</value>
                     </entry>
                  </defaultSchedulingPeriod>
                  <lossTolerant>false</lossTolerant>
                  <penaltyDuration>30 sec</penaltyDuration>
                  <properties>
                     <entry>
                        <key>Log Level</key>
                        <value>info</value>
                     </entry>
                     <entry>
                        <key>Log Payload</key>
                        <value>true</value>
                     </entry>
                     <entry>
                        <key>Attributes to Log</key>
                     </entry>
                     <entry>
                        <key>Attributes to Ignore</key>
                     </entry>
                  </properties>
                  <runDurationMillis>0</runDurationMillis>
                  <schedulingPeriod>0 sec</schedulingPeriod>
                  <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                  <yieldDuration>1 sec</yieldDuration>
               </config>
               <name>EMAIL Log</name>
               <relationships>
                  <autoTerminate>false</autoTerminate>
                  <description>All FlowFiles are routed to this relationship</description>
                  <name>success</name>
               </relationships>
               <state>RUNNING</state>
               <style />
               <supportsEventDriven>true</supportsEventDriven>
               <supportsParallelProcessing>true</supportsParallelProcessing>
               <type>org.apache.nifi.processors.standard.LogAttribute</type>
            </processors>
            <processors>
               <id>f84bd160-41f2-3a64-abec-82c3528235f7</id>
               <parentGroupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</parentGroupId>
               <position>
                  <x>704.9503784179688</x>
                  <y>514.0762329101562</y>
               </position>
               <config>
                  <bulletinLevel>DEBUG</bulletinLevel>
                  <comments />
                  <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                  <defaultConcurrentTasks>
                     <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>1</value>
                     </entry>
                     <entry>
                        <key>EVENT_DRIVEN</key>
                        <value>0</value>
                     </entry>
                     <entry>
                        <key>CRON_DRIVEN</key>
                        <value>1</value>
                     </entry>
                  </defaultConcurrentTasks>
                  <defaultSchedulingPeriod>
                     <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>0 sec</value>
                     </entry>
                     <entry>
                        <key>CRON_DRIVEN</key>
                        <value>* * * * * ?</value>
                     </entry>
                  </defaultSchedulingPeriod>
                  <lossTolerant>false</lossTolerant>
                  <penaltyDuration>30 sec</penaltyDuration>
                  <properties>
                     <entry>
                        <key>Log Level</key>
                        <value>info</value>
                     </entry>
                     <entry>
                        <key>Log Payload</key>
                        <value>true</value>
                     </entry>
                     <entry>
                        <key>Attributes to Log</key>
                     </entry>
                     <entry>
                        <key>Attributes to Ignore</key>
                     </entry>
                  </properties>
                  <runDurationMillis>0</runDurationMillis>
                  <schedulingPeriod>0 sec</schedulingPeriod>
                  <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                  <yieldDuration>1 sec</yieldDuration>
               </config>
               <name>SMS Log</name>
               <relationships>
                  <autoTerminate>false</autoTerminate>
                  <description>All FlowFiles are routed to this relationship</description>
                  <name>success</name>
               </relationships>
               <state>RUNNING</state>
               <style />
               <supportsEventDriven>true</supportsEventDriven>
               <supportsParallelProcessing>true</supportsParallelProcessing>
               <type>org.apache.nifi.processors.standard.LogAttribute</type>
            </processors>
            <processors>
               <id>778ff22e-843b-3bd4-9c6f-ddaedf48ab8f</id>
               <parentGroupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</parentGroupId>
               <position>
                  <x>214.0</x>
                  <y>121.0</y>
               </position>
               <config>
                  <bulletinLevel>DEBUG</bulletinLevel>
                  <comments />
                  <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                  <defaultConcurrentTasks>
                     <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>1</value>
                     </entry>
                     <entry>
                        <key>EVENT_DRIVEN</key>
                        <value>0</value>
                     </entry>
                     <entry>
                        <key>CRON_DRIVEN</key>
                        <value>1</value>
                     </entry>
                  </defaultConcurrentTasks>
                  <defaultSchedulingPeriod>
                     <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>0 sec</value>
                     </entry>
                     <entry>
                        <key>CRON_DRIVEN</key>
                        <value>* * * * * ?</value>
                     </entry>
                  </defaultSchedulingPeriod>
                  <lossTolerant>false</lossTolerant>
                  <penaltyDuration>30 sec</penaltyDuration>
                  <properties>
                     <entry>
                        <key>Log Level</key>
                        <value>info</value>
                     </entry>
                     <entry>
                        <key>Log Payload</key>
                        <value>true</value>
                     </entry>
                     <entry>
                        <key>Attributes to Log</key>
                     </entry>
                     <entry>
                        <key>Attributes to Ignore</key>
                     </entry>
                  </properties>
                  <runDurationMillis>0</runDurationMillis>
                  <schedulingPeriod>0 sec</schedulingPeriod>
                  <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                  <yieldDuration>1 sec</yieldDuration>
               </config>
               <name>LogAttribute</name>
               <relationships>
                  <autoTerminate>true</autoTerminate>
                  <description>All FlowFiles are routed to this relationship</description>
                  <name>success</name>
               </relationships>
               <state>RUNNING</state>
               <style />
               <supportsEventDriven>true</supportsEventDriven>
               <supportsParallelProcessing>true</supportsParallelProcessing>
               <type>org.apache.nifi.processors.standard.LogAttribute</type>
            </processors>
            <processors>
               <id>c7466c95-c8ee-3112-ae42-b5174fe38071</id>
               <parentGroupId>eec30fc3-8b49-4b7f-89c1-c794d6842f3e</parentGroupId>
               <position>
                  <x>226.0</x>
                  <y>315.0</y>
               </position>
               <config>
                  <bulletinLevel>WARN</bulletinLevel>
                  <comments />
                  <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                  <defaultConcurrentTasks>
                     <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>1</value>
                     </entry>
                     <entry>
                        <key>EVENT_DRIVEN</key>
                        <value>0</value>
                     </entry>
                     <entry>
                        <key>CRON_DRIVEN</key>
                        <value>1</value>
                     </entry>
                  </defaultConcurrentTasks>
                  <defaultSchedulingPeriod>
                     <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>0 sec</value>
                     </entry>
                     <entry>
                        <key>CRON_DRIVEN</key>
                        <value>* * * * * ?</value>
                     </entry>
                  </defaultSchedulingPeriod>
                  <lossTolerant>false</lossTolerant>
                  <penaltyDuration>30 sec</penaltyDuration>
                  <properties>
                     <entry>
                        <key>UCS Controller Service</key>
                        <value>ucs-controller</value>
                     </entry>
                     <entry>
                        <key>EMAIL</key>
                        <value />
                     </entry>
                     <entry>
                        <key>SMS</key>
                        <value />
                     </entry>
                  </properties>
                  <runDurationMillis>0</runDurationMillis>
                  <schedulingPeriod>0 sec</schedulingPeriod>
                  <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                  <yieldDuration>1 sec</yieldDuration>
               </config>
               <name>UCSRouteMessageByRecipientType</name>
               <relationships>
                  <autoTerminate>false</autoTerminate>
                  <description />
                  <name>EMAIL</name>
               </relationships>
               <relationships>
                  <autoTerminate>false</autoTerminate>
                  <description />
                  <name>failure</name>
               </relationships>
               <relationships>
                  <autoTerminate>false</autoTerminate>
                  <description>The original FlowFile will be sent through this relationships.</description>
                  <name>original</name>
               </relationships>
               <relationships>
                  <autoTerminate>false</autoTerminate>
                  <description />
                  <name>SMS</name>
               </relationships>
               <relationships>
                  <autoTerminate>false</autoTerminate>
                  <description>FlowFiles that do not match any of the user-supplied named relationships</description>
                  <name>unmatched</name>
               </relationships>
               <state>RUNNING</state>
               <style />
               <supportsEventDriven>true</supportsEventDriven>
               <supportsParallelProcessing>true</supportsParallelProcessing>
               <type>org.socraticgrid.hl7.ucs.nifi.processor.UCSRouteMessageByRecipientType</type>
            </processors>
         </contents>
         <disabledCount>0</disabledCount>
         <inactiveRemotePortCount>0</inactiveRemotePortCount>
         <inputPortCount>1</inputPortCount>
         <invalidCount>0</invalidCount>
         <name>Message Delivery</name>
         <outputPortCount>1</outputPortCount>
         <parent>
            <id>80bb41c7-a4dd-42b4-8084-3a20245e7439</id>
            <name>NiFi Flow</name>
         </parent>
         <runningCount>7</runningCount>
         <stoppedCount>0</stoppedCount>
      </processGroups>
      <processors>
         <id>bfdc5c9e-3297-4a28-9f26-2c433bfc5cb8</id>
         <parentGroupId>80bb41c7-a4dd-42b4-8084-3a20245e7439</parentGroupId>
         <position>
            <x>1399.0</x>
            <y>206.0</y>
         </position>
         <config>
            <bulletinLevel>DEBUG</bulletinLevel>
            <comments />
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <defaultConcurrentTasks>
               <entry>
                  <key>TIMER_DRIVEN</key>
                  <value>1</value>
               </entry>
               <entry>
                  <key>EVENT_DRIVEN</key>
                  <value>0</value>
               </entry>
               <entry>
                  <key>CRON_DRIVEN</key>
                  <value>1</value>
               </entry>
            </defaultConcurrentTasks>
            <defaultSchedulingPeriod>
               <entry>
                  <key>TIMER_DRIVEN</key>
                  <value>0 sec</value>
               </entry>
               <entry>
                  <key>CRON_DRIVEN</key>
                  <value>* * * * * ?</value>
               </entry>
            </defaultSchedulingPeriod>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
               <entry>
                  <key>Log Level</key>
                  <value>info</value>
               </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
         </config>
         <name>Update Message</name>
         <relationships>
            <autoTerminate>true</autoTerminate>
            <description>All FlowFiles are routed to this relationship</description>
            <name>success</name>
         </relationships>
         <state>RUNNING</state>
         <style />
         <supportsEventDriven>true</supportsEventDriven>
         <supportsParallelProcessing>true</supportsParallelProcessing>
         <type>com.cognitivemedicine.nifi.log.LogExpression</type>
      </processors>
      <processors>
         <id>82323ab9-488f-4ff7-9f3b-6909baf2d871</id>
         <parentGroupId>80bb41c7-a4dd-42b4-8084-3a20245e7439</parentGroupId>
         <position>
            <x>678.0</x>
            <y>-97.0</y>
         </position>
         <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments />
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <defaultConcurrentTasks>
               <entry>
                  <key>TIMER_DRIVEN</key>
                  <value>1</value>
               </entry>
               <entry>
                  <key>EVENT_DRIVEN</key>
                  <value>0</value>
               </entry>
               <entry>
                  <key>CRON_DRIVEN</key>
                  <value>1</value>
               </entry>
            </defaultConcurrentTasks>
            <defaultSchedulingPeriod>
               <entry>
                  <key>TIMER_DRIVEN</key>
                  <value>0 sec</value>
               </entry>
               <entry>
                  <key>CRON_DRIVEN</key>
                  <value>* * * * * ?</value>
               </entry>
            </defaultSchedulingPeriod>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
               <entry>
                  <key>UCS Controller Service</key>
                  <value>ucs-controller</value>
               </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
         </config>
         <name>UCSPersistMessage</name>
         <relationships>
            <autoTerminate>false</autoTerminate>
            <description />
            <name>failure</name>
         </relationships>
         <relationships>
            <autoTerminate>false</autoTerminate>
            <description />
            <name>success</name>
         </relationships>
         <state>RUNNING</state>
         <style />
         <supportsEventDriven>true</supportsEventDriven>
         <supportsParallelProcessing>true</supportsParallelProcessing>
         <type>org.socraticgrid.hl7.ucs.nifi.processor.UCSPersistMessage</type>
      </processors>
      <processors>
         <id>57f3f3f8-f514-4664-8f7c-702a6da07da9</id>
         <parentGroupId>80bb41c7-a4dd-42b4-8084-3a20245e7439</parentGroupId>
         <position>
            <x>659.0</x>
            <y>106.0</y>
         </position>
         <config>
            <bulletinLevel>DEBUG</bulletinLevel>
            <comments />
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <defaultConcurrentTasks>
               <entry>
                  <key>TIMER_DRIVEN</key>
                  <value>1</value>
               </entry>
               <entry>
                  <key>EVENT_DRIVEN</key>
                  <value>0</value>
               </entry>
               <entry>
                  <key>CRON_DRIVEN</key>
                  <value>1</value>
               </entry>
            </defaultConcurrentTasks>
            <defaultSchedulingPeriod>
               <entry>
                  <key>TIMER_DRIVEN</key>
                  <value>0 sec</value>
               </entry>
               <entry>
                  <key>CRON_DRIVEN</key>
                  <value>* * * * * ?</value>
               </entry>
            </defaultSchedulingPeriod>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
               <entry>
                  <key>Log Level</key>
                  <value>info</value>
               </entry>
               <entry>
                  <key>Log Payload</key>
                  <value>false</value>
               </entry>
               <entry>
                  <key>Attributes to Log</key>
               </entry>
               <entry>
                  <key>Attributes to Ignore</key>
               </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
         </config>
         <name>LogAttribute</name>
         <relationships>
            <autoTerminate>true</autoTerminate>
            <description>All FlowFiles are routed to this relationship</description>
            <name>success</name>
         </relationships>
         <state>RUNNING</state>
         <style />
         <supportsEventDriven>true</supportsEventDriven>
         <supportsParallelProcessing>true</supportsParallelProcessing>
         <type>org.apache.nifi.processors.standard.LogAttribute</type>
      </processors>
      <processors>
         <id>d58ba8fa-db43-4f24-bb6d-76781834c30e</id>
         <parentGroupId>80bb41c7-a4dd-42b4-8084-3a20245e7439</parentGroupId>
         <position>
            <x>136.0</x>
            <y>-96.0</y>
         </position>
         <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments />
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <defaultConcurrentTasks>
               <entry>
                  <key>TIMER_DRIVEN</key>
                  <value>1</value>
               </entry>
               <entry>
                  <key>EVENT_DRIVEN</key>
                  <value>0</value>
               </entry>
               <entry>
                  <key>CRON_DRIVEN</key>
                  <value>1</value>
               </entry>
            </defaultConcurrentTasks>
            <defaultSchedulingPeriod>
               <entry>
                  <key>TIMER_DRIVEN</key>
                  <value>0 sec</value>
               </entry>
               <entry>
                  <key>CRON_DRIVEN</key>
                  <value>* * * * * ?</value>
               </entry>
            </defaultSchedulingPeriod>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
               <entry>
                  <key>Listening Port</key>
                  <value>8888</value>
               </entry>
               <entry>
                  <key>Max Data to Receive per Second</key>
               </entry>
               <entry>
                  <key>SSL Context Service</key>
               </entry>
               <entry>
                  <key>Authorized DN Pattern</key>
                  <value>.*</value>
               </entry>
               <entry>
                  <key>Max Unconfirmed Flowfile Time</key>
                  <value>60 secs</value>
               </entry>
               <entry>
                  <key>HTTP Headers to receive as Attributes (Regex)</key>
               </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
         </config>
         <name>ListenHTTP</name>
         <relationships>
            <autoTerminate>false</autoTerminate>
            <description>Relationship for successfully received FlowFiles</description>
            <name>success</name>
         </relationships>
         <state>RUNNING</state>
         <style />
         <supportsEventDriven>false</supportsEventDriven>
         <supportsParallelProcessing>true</supportsParallelProcessing>
         <type>org.apache.nifi.processors.standard.ListenHTTP</type>
      </processors>
      <processors>
         <id>7a762980-8e41-4994-b7ff-76c68fff42c1</id>
         <parentGroupId>80bb41c7-a4dd-42b4-8084-3a20245e7439</parentGroupId>
         <position>
            <x>291.0</x>
            <y>440.0</y>
         </position>
         <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments />
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <defaultConcurrentTasks>
               <entry>
                  <key>TIMER_DRIVEN</key>
                  <value>1</value>
               </entry>
               <entry>
                  <key>EVENT_DRIVEN</key>
                  <value>0</value>
               </entry>
               <entry>
                  <key>CRON_DRIVEN</key>
                  <value>1</value>
               </entry>
            </defaultConcurrentTasks>
            <defaultSchedulingPeriod>
               <entry>
                  <key>TIMER_DRIVEN</key>
                  <value>0 sec</value>
               </entry>
               <entry>
                  <key>CRON_DRIVEN</key>
                  <value>* * * * * ?</value>
               </entry>
            </defaultSchedulingPeriod>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
               <entry>
                  <key>UCS Controller Service</key>
                  <value>ucs-controller</value>
               </entry>
               <entry>
                  <key>Keep Attributes</key>
                  <value>true</value>
               </entry>
               <entry>
                  <key>Group Messages</key>
                  <value>true</value>
               </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 0/1 * 1/1 * ? *</schedulingPeriod>
            <schedulingStrategy>CRON_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
         </config>
         <name>UCSGetMessages</name>
         <relationships>
            <autoTerminate>false</autoTerminate>
            <description>Each message found in UCS Controller will start a new FileFlow through this relationship.</description>
            <name>success</name>
         </relationships>
         <state>STOPPED</state>
         <style />
         <supportsEventDriven>true</supportsEventDriven>
         <supportsParallelProcessing>true</supportsParallelProcessing>
         <type>org.socraticgrid.hl7.ucs.nifi.processor.UCSGetMessages</type>
      </processors>
      <processors>
         <id>036de62b-8904-3bd9-865f-11043e9e36e9</id>
         <parentGroupId>80bb41c7-a4dd-42b4-8084-3a20245e7439</parentGroupId>
         <position>
            <x>267.0</x>
            <y>202.0</y>
         </position>
         <config>
            <bulletinLevel>DEBUG</bulletinLevel>
            <comments />
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <defaultConcurrentTasks>
               <entry>
                  <key>TIMER_DRIVEN</key>
                  <value>1</value>
               </entry>
               <entry>
                  <key>EVENT_DRIVEN</key>
                  <value>0</value>
               </entry>
               <entry>
                  <key>CRON_DRIVEN</key>
                  <value>1</value>
               </entry>
            </defaultConcurrentTasks>
            <defaultSchedulingPeriod>
               <entry>
                  <key>TIMER_DRIVEN</key>
                  <value>0 sec</value>
               </entry>
               <entry>
                  <key>CRON_DRIVEN</key>
                  <value>* * * * * ?</value>
               </entry>
            </defaultSchedulingPeriod>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
               <entry>
                  <key>Log Level</key>
                  <value>info</value>
               </entry>
               <entry>
                  <key>Log Payload</key>
                  <value>true</value>
               </entry>
               <entry>
                  <key>Attributes to Log</key>
               </entry>
               <entry>
                  <key>Attributes to Ignore</key>
               </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
         </config>
         <name>LogAttribute</name>
         <relationships>
            <autoTerminate>true</autoTerminate>
            <description>All FlowFiles are routed to this relationship</description>
            <name>success</name>
         </relationships>
         <state>RUNNING</state>
         <style />
         <supportsEventDriven>true</supportsEventDriven>
         <supportsParallelProcessing>true</supportsParallelProcessing>
         <type>org.apache.nifi.processors.standard.LogAttribute</type>
      </processors>
   </snippet>
   <timestamp>03/03/2015 17:13:56 CET</timestamp>
</template>